/*CSS Section
   - top-of-page is to make the top of the background color purple
  .- webpage-links is to stylize the top of the pages such as the color, type of font, and font size-->
   - book-or-movie-image is to default the size of the image of the movies/novels within the website-->
*/

  /* "*" is a universal selector that applies these css styles to all elements in the page */
  * {
    padding: 0; /* The amount of space around a element's content within the borders, 0 space in this example */
    margin: 0; /* The amount of space around a element's content outside of the borders*/
    border: 0; /* The space between the padding and the margin */
    outline: 0; /* A line drawn outside the border, size and colour */
    vertical-align: baseline; /* Sets the vertical alignment of an image https://www.w3schools.com/cssref/pr_pos_vertical-align.asp */
    background: transparent; 
    box-sizing: border-box;
  }

  /* Start of navigation area */

  .nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(42, 12, 124); 
    height: 4.2em;
  }


  .My-Reads-Image {
    padding: 1em;
    height: 4.5em;
    width:  20em;
  }

  .main-nav {
    display: flex;
    grid-template-columns: auto auto auto auto;
    padding: 14px;
    padding: 1.5em;
    text-align: center;
  }
  
  .top-nav-bar {
    display: inline;
    padding: 1em;
    color: rgb(246, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.35em;
  }

  .sub-nav-list {
    list-style-type: none;
    display: none;
  }

  .sub-nav-list li {
    padding:10px;
  }

  .sub-nav-list a {
    color: rgb(246, 255, 0);
    display: block;
    font-size: 1em;
  }

  .main-nav div:hover .sub-nav-list{
    display: block;
    background-color: rgb(42, 12, 124);
  }

  .search-bar {
    margin: 1em;
  }

  .search-bar form {
    display: flex;
  }

  #search-bar {
    text-align: left;
    background: white;
    font-size: 1.35em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
  }
  
  .search-button {
    color: white;
    background-color: orange;
    font-size: 1.35em;
    font-family: Georgia, 'Times New Roman', Times, serif; /* font used for the search button */
    cursor: pointer; /* When hovering the search button, shows hand on mouse*/
    padding: 7px;
  }

  .nav .user-profile {
    margin: 1.2em;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: rgb(246, 255, 0);
  }

  .sub-nav-title{
    padding: 1em;
    background-color: rgb(0, 153, 255);
  }

  .sub-nav-title h2{
    color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
  }

  /* End of Navigation Area */

  .book-or-movie-image {
    height: 20em;
    width: 15em;
    padding: 0.5em;
    border:1px solid rgb(0, 153, 255);
  }

  .media-display{
    display: grid;
    grid-template-columns: auto auto;
    height: 22em;
    width: 30em;
  }

  .media-display h3 {
    margin-top: 1.5em;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    border:1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    color:rgb(255, 255, 255);
  }

  .media-display p {
    height: 20em;
    width: 14em;
    padding-top: 0.5em;
    font-size: 1em;
    border:1px solid rgb(0, 153, 255);
  }

  /* Start of Display area for multiple movies/comics/novels */

  .all-movies-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30em);
    margin-left: 6em;
    margin-right: 6em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }




  