.book-profile{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 11em;
  margin-right: 11em;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
}

.book-section-button {
  margin-top: 1em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  width: 17em;
  padding: 0.5em;
  background-color: white;
  border: 1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
}

.book-section-button:hover {
  background-color: rgb(0, 153, 255);
  color: white;
}

.book-display {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: grid;
  border: 1px solid rgb(0, 153, 255);
  grid-template-columns: 15em 50em;
  margin-top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  padding: 1.4em;
  visibility: hidden;
}

.book-render-image {
  height: 30em;
  width: 23em;
  grid-row: 1/3;
}

.book-render-info {
  margin-left: 10em;
  display: grid;
  grid-template-columns: auto auto;
}

.website-read-stats {
  border: 1px solid rgb(0, 153, 255);
  margin-right: 1.2em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.website-read-stats p {
  padding: 0.5em;
  border: 1px solid rgb(0, 153, 255);
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  width: 14em;
}

.add-to-collection-button {
  padding: 0.6em;
  border: 1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
  background-color: white;
  font-size: 13px;
}

.add-to-collection-button:hover {
  background-color: rgb(0, 153, 255);
  color: white  ;
}

.book-stats p{
  padding: 0.6em;
  border: 1px solid rgb(0, 153, 255);
}

.book-render-description {
  padding: 0.5em;
  border: 1px solid rgb(0, 153, 255);
  margin-left: 10em;
  height: 15em;
  width: 80%;
  font-size: 15px;
  resize: none;
  grid-row: 2/3;
}

.back-arrow {
  text-align: center;
  border: 1px solid rgb(0, 153, 255);
  background-color: white;
  color: rgb(0, 153, 255);
  margin-top: 0.9em;
  width: 8.27em;
  margin-left: 0.3em;
  margin-right: 0.4em;
  padding-top: 0.5em;
  height: 1.5em;
  margin-bottom: 0.2em;
}

.back-arrow::before{
  content: "\02190";
  font-size: 2em;
  position: relative;
  top: -12px;
}

.back-arrow:hover {
  background-color: rgb(0, 153, 255);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.book-section-button.sectionDropdown + .book-display{
  visibility: visible;
}

