/* Sub navigation title*/
 
 .sub-nav-title{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgb(0, 153, 255);
    color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    z-index: -1; /*Sets the priority of elements, z-index 1 allows the sub nav bar to appear over the sub nav title in this case*/
  }


  
  /* Start of search, filter, and sort area */

  .filter-sort-search{
    color:rgb(0, 153, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em); /* Makes sure that the different heads are displayed properly when the screen shrinks or grows*/
    grid-auto-rows: minmax(3em, 3em); /* Makes sure that the height of the head of the display stays the same when the navigations for lists pop up and when window is resized*/
    justify-content: center;
    list-style-type: none;
    padding: 1em;
    margin-left: 8em;
    margin-right: 8em;
    font-size: 0.9em;  
  }

   .filter-button {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
  }

   .filter-sort-search h3 {
    background-color: white;
    text-align: center;
    border: 1px solid rgb(0, 153, 255);
    color:rgb(0, 153, 255);
    padding: 0.4em;
    z-index: -1;
  } 

  .filter-sort-search input{
    width: 87.3%;
    height: 2.3em;
    border: 1px solid rgb(0, 153, 255);
    margin: 1em;
    padding-left: 0.4em;
  }

  .types-of-filters {
    position: relative;
    list-style: none;
    text-align: center;
    display: None; 
  }

  .types-of-filters li {
    font-size: 1.2em;
    padding: 0.3em;
    background-color: white;
    color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    margin-left: 0.8em;
    margin-right: 0.9em;
  }

  .genres-and-themes-filters {  
    visibility: hidden;
    position: absolute;
    list-style: none;
    left: 12.4%;
    right: 12.4%;
    display: grid;  
    grid-template-columns: repeat(auto-fill, 8em);
    justify-content: center;
    margin-top: 0.6em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid rgb(0, 153, 255);
    background-color: white;
  }

  .genres-and-themes-filters li {
    padding-left: 1em;
    padding-right: 1em;
    padding: 0.3em;
    text-align: center;
  }


  .genres-and-themes-filters p {
    font-size: 1.2em;
  }



  /* Area for Dropdown */

  
  
  .filter-button h3:hover { /* When hovering the filter button, the background color turns lightblue while the text turns white*/
    background-color: rgb(0, 153, 255);
    color: white;
  }

  
  button.active  + .types-of-filters{
    display: block;
  }

  button.active + .genres-and-themes-filters {
    visibility: visible;
  }

  .types-of-filters li:hover {
    background-color: rgb(0, 153, 255);
    color: white;
  }


